* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v1{
    width: 226px;
    color: rgba(255,253,253,1);
    position: absolute;
    top: 1050px;
    left: 400px;
    font-family: Bowlby One SC;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: left;
  }
  .descplato{
    display:inline;
    position: relative;
    top: 70rem;
    left:15rem;
    color: rgba(255,255,255,1);
    font-family: SF Pro Display;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
  
  }
  .v75_33 {
    width: 100%;
    height: 2000px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v75_48 {
    width: 700px;
    height: 500px;
    background: url("../images/v40_26.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 250px;
    left: 20px;
    border-top-right-radius: 61px;
    border-bottom-right-radius: 61px;
    overflow: hidden;
  }
  .v75_34 { /*fondo logo*/
      position: absolute;
      width: 227px;
      height: 225px;
      left: 30px;
      top: -5px;
      
      background: #C79D4C;
      border-radius: 0px 0px 50px 50px;
  }
  .v75_35 { /* fondo menu*/
      position: absolute;
      width: 205px;
      height: 78px;
      left: 300px;
      top: -5px;
  
      background: #C79D4C;
      border-radius: 0px 0px 30px 30px;
  }
  .v75_36 { /*fondo promo*/
      position: absolute;
      width: 205px;
      height: 78px;
      left: 545px;
      top: -5px;
  
      background: #C79D4C;
      border-radius: 0px 0px 30px 30px;
  }
  .v75_37 { /*fondo wp*/
      position: absolute;
      width: 122px;
      height: 69px;
      left: 1230px;
      top: 887px;
  
      background: #4EB18F;
      border-radius: 30px 0px 0px 30px;
  }
  .v75_38 { /*fondo lupa*/
      position: absolute;
      width: 92px;
      height: 78px;
      left: 792px;
      top: -5px;
      
      background: #C79D4C;
      border-radius: 0px 0px 30px 30px;
  }
  .v75_39 { /*fondo carrito*/
      position: absolute;
      width: 178px;
      height: 147px;
      left: 1171px;
      top: -5px;
      
      background: #C79D4C;
      border-radius: 0px 0px 0px 50px;
  }
  .v75_40 { /*imagen logo*/
      position: absolute;
      width: 136px;
      height: 195px;
      left: 73px;
      top: 10px;
      background: url("/static/images/v13_19.png");
      background-repeat:no-repeat;
      background-size:cover;
  }
  .v75_41 { /*letra menu*/
      position: absolute;
      width: 81px;
      height: 36px;
      left: 360px;
      top: 16px;
      
      font-family: Bowlby One SC;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 37px;
      
      color: #000000;
  }
  .v75_42 { /*letra promos*/
      position: absolute;
      width: 118px;
      height: 36px;
      left: 590px;
      top: 16px;
      
      font-family: Bowlby One SC;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 37px;
      
      color: #000000;
  }
  .v75_43 { /*imagen lupa*/
      background: url("/static/images/v13_29.png");
      position: absolute;
      width: 48px;
      height: 48px;
      left: 816px;
      top: 10px;
  }
  .v75_44 { /*imagen carrito*/
      position: absolute;
      width: 90px;
      height: 90px;
      left: 1225px;
      top: 28px;
      background: url("/static/images/v15_33.png");
      background-repeat:no-repeat;
      background-size:cover;
  }
  .v75_45 { /*imagen wp*/
      position: absolute;
      width: 60px;
      height: 60px;
      left: 1255px;
      top: 892px;
      width: 60px;
      height: 60px;
      background: url("/static/images/v15_36.png");
      background-repeat:no-repeat;
      background-size:cover;
  }
  .v75_46 {
    width: 379px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 194px;
    left: 400px;
    font-family: SF Pro Display;
    font-weight: Bold;
    font-size: 100px;
    opacity: 1;
    text-align: center;
  }
  .v75_47 {
    width: 579px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 431px;
    left: 750px;
    font-family: SF Pro Display;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: center;
  }
  .v75_55 {
      position: absolute;
      width: 178px;
      height: 78px;
      left: 1171px;
      top: 211px;
      
      background: #C79D4C;
      border-radius: 30px 0px 0px 30px;
  }
  .v75_56 { /*imagen perfil*/
      background: url("/static/images/v46_57.png");
      position: absolute;
      width: 57px;
      height: 57px;
      left: 1250px;
      top: 221px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  }
  .v78_59 {
      width: 178px;
      height: 69px;
      background: rgba(76,118,199,1);
      opacity: 1;
      position: absolute;
      top: 818px;
      left: 100px;
      font-weight: Bold;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      overflow: hidden;
  }
  .v78_60 {
      width: 178px;
      height: 69px;
      background: rgba(76,118,199,1);
      opacity: 1;
      position: absolute;
      top: 818px;
      left: 300px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      overflow: hidden;
      font-weight: Bold;
  }
  .v78_62 {
    width: 226px;
    color: rgba(255,253,253,1);
    position: absolute;
    top: 673px;
    left: 900px;
    font-family: Bowlby One SC;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: left;
  }
  .v95_7 { /*imagen corazon*/
    
      background: url("/static/images/v95_7.png");
      position: absolute;
      width: 48px;
      height: 48px;
      left: 940px;
      top: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  .v13_35 { /*fondo lista de deseos*/
      position: absolute;
      width: 92px;
      height: 78px;
      left: 920px;
      top: -5px;
      
      background: #C79D4C;
      border-radius: 0px 0px 30px 30px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  }