* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v62_125 {
  width: 100%;
  height: 1024px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_126 {
  width: 100%;
  height: 747px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.25;
  position: absolute;
  top: 177px;
  left: 1px;
  overflow: hidden;
}
.v62_127 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 0px;
  left: 369px;
  overflow: hidden;
}
.v62_128 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 158px;
  left: 370px;
  overflow: hidden;
}
.v62_129 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 316px;
  left: 371px;
  overflow: hidden;
}
.v62_130 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 474px;
  left: 372px;
  overflow: hidden;
}
.v62_131 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 632px;
  left: 373px;
  overflow: hidden;
}
.v62_132 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 0px;
  left: 246px;
  overflow: hidden;
}
.v62_133 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 158px;
  left: 247px;
  overflow: hidden;
}
.v62_134 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 316px;
  left: 248px;
  overflow: hidden;
}
.v62_135 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 474px;
  left: 249px;
  overflow: hidden;
}
.v62_136 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 632px;
  left: 250px;
  overflow: hidden;
}
.v62_137 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 0px;
  left: 123px;
  overflow: hidden;
}
.v62_138 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 158px;
  left: 124px;
  overflow: hidden;
}
.v62_139 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 316px;
  left: 125px;
  overflow: hidden;
}
.v62_140 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 474px;
  left: 126px;
  overflow: hidden;
}
.v62_141 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 632px;
  left: 127px;
  overflow: hidden;
}
.v62_142 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_143 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 158px;
  left: 1px;
  overflow: hidden;
}
.v62_144 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 316px;
  left: 2px;
  overflow: hidden;
}
.v62_145 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 474px;
  left: 3px;
  overflow: hidden;
}
.v62_146 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 632px;
  left: 4px;
  overflow: hidden;
}
.v62_147 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 0px;
  left: 492px;
  overflow: hidden;
}
.v62_148 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 158px;
  left: 493px;
  overflow: hidden;
}
.v62_149 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 316px;
  left: 494px;
  overflow: hidden;
}
.v62_150 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 474px;
  left: 495px;
  overflow: hidden;
}
.v62_151 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 632px;
  left: 496px;
  overflow: hidden;
}
.v62_152 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 0px;
  left: 615px;
  overflow: hidden;
}
.v62_153 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 158px;
  left: 616px;
  overflow: hidden;
}
.v62_154 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 316px;
  left: 617px;
  overflow: hidden;
}
.v62_155 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 474px;
  left: 618px;
  overflow: hidden;
}
.v62_156 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 632px;
  left: 619px;
  overflow: hidden;
}
.v62_157 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 0px;
  left: 738px;
  overflow: hidden;
}
.v62_158 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 158px;
  left: 739px;
  overflow: hidden;
}
.v62_159 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 316px;
  left: 740px;
  overflow: hidden;
}
.v62_160 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 474px;
  left: 741px;
  overflow: hidden;
}
.v62_161 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 632px;
  left: 742px;
  overflow: hidden;
}
.v62_162 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 0px;
  left: 861px;
  overflow: hidden;
}
.v62_163 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 158px;
  left: 862px;
  overflow: hidden;
}
.v62_164 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 316px;
  left: 863px;
  overflow: hidden;
}
.v62_165 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 474px;
  left: 864px;
  overflow: hidden;
}
.v62_166 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 632px;
  left: 865px;
  overflow: hidden;
}
.v62_167 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 0px;
  left: 984px;
  overflow: hidden;
}
.v62_168 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 158px;
  left: 985px;
  overflow: hidden;
}
.v62_169 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 316px;
  left: 986px;
  overflow: hidden;
}
.v62_170 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 474px;
  left: 987px;
  overflow: hidden;
}
.v62_171 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 632px;
  left: 988px;
  overflow: hidden;
}
.v62_172 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 0px;
  left: 1107px;
  overflow: hidden;
}
.v62_173 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 158px;
  left: 1108px;
  overflow: hidden;
}
.v62_174 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 316px;
  left: 1109px;
  overflow: hidden;
}
.v62_175 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 474px;
  left: 1110px;
  overflow: hidden;
}
.v62_176 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 632px;
  left: 1111px;
  overflow: hidden;
}
.v62_177 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 0px;
  left: 1230px;
  overflow: hidden;
}
.v62_178 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 158px;
  left: 1231px;
  overflow: hidden;
}
.v62_179 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 316px;
  left: 1232px;
  overflow: hidden;
}
.v62_180 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 474px;
  left: 1233px;
  overflow: hidden;
}
.v62_181 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 632px;
  left: 1234px;
  overflow: hidden;
}
.v62_182 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 0px;
  left: 1353px;
  overflow: hidden;
}
.v62_183 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 158px;
  left: 1354px;
  overflow: hidden;
}
.v62_184 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 316px;
  left: 1355px;
  overflow: hidden;
}
.v62_185 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 474px;
  left: 1356px;
  overflow: hidden;
}
.v62_186 {
  width: 82px;
  height: 115px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 632px;
  left: 1357px;
  overflow: hidden;
}

.v62_188 {
  width: 227px;
  height: 211px;
  background: rgba(199,157,75,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 146px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v62_189 { /*fondo wp*/
    width: 122px;
    height: 69px;
    background: rgba(78,177,143,1);
    opacity: 1;
    position: absolute;
    top: 887px;
    left: 1250px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
}
.v62_190 { /*fonfo carrito*/
    width: 178px;
    height: 147px;
    background: rgba(199,157,75,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1173px;
    border-bottom-left-radius: 50px;
    overflow: hidden;
}
.v62_191 { /*imagen logo*/
  width: 127px;
  height: 179px;
  background: url("/static/images/v13_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 196px;
  overflow: hidden;
}
.v62_192 { /*imagen carrito*/
  width: 90px;
  height: 90px;
  background: url("/static/images/v15_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 1230px;
  overflow: hidden;
}
.v62_193 {
  width: 60px;
  height: 60px;
  background: url("/static/images/v15_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 892px;
  left: 1270px;
  overflow: hidden;
}
.v62_194 {
  width: 671px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 272px;
  left: 166px;
  font-family: Bowlby One SC;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v62_195 {
  width: 988px;
  height: 182px;
  background: linear-gradient(rgba(0,0,0,1), rgba(199,157,76,1));
  opacity: 1;
  position: absolute;
  top: 540px;
  left: 226px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v62_196 {
  width: 197px;
  height: 114px;
  background: rgba(199,157,76,1);
  opacity: 1;
  position: absolute;
  top: 772px;
  left: 230px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v62_197 {
  width: 197px;
  height: 114px;
  background: rgba(199,157,76,1);
  opacity: 1;
  position: absolute;
  top: 773px;
  left: 492px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v62_198 {
  width: 197px;
  height: 114px;
  background: rgba(199,157,76,1);
  opacity: 1;
  position: absolute;
  top: 772px;
  left: 754px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v62_199 {
  width: 197px;
  height: 114px;
  background: rgba(199,157,76,1);
  opacity: 1;
  position: absolute;
  top: 772px;
  left: 1016px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v62_200 { /*letras gestionar plato*/
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 831px;
  left: 259px;
  font-family: Bowlby One SC;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v62_201 { /*letras gestionar usuarios*/
  width: 149px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 831px;
  left: 516px;
  font-family: Bowlby One SC;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v62_202 { /*letras gestionar comentarios*/
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 831px;
  left: 789px;
  font-family: Bowlby One SC;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v62_203 { /*letras dashboard*/
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 844px;
  left: 1051px;
  font-family: Bowlby One SC;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v62_208 {
  width: 199px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 636px;
  left: 260px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v62_209 {
  width: 262px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 671px;
  left: 917px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v62_210 {
  width: 188px;
  color: rgba(76,118,199,1);
  position: absolute;
  top: 675px;
  left: 260px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v62_211 {
  width: 300px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 636px;
  left: 917px;
  font-family: SF Pro Display;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v67_2 {
    width: 178px;
    height: 69px;
    background: rgba(76,118,199,1);
    opacity: 1;
    position: absolute;
    top: 166px;
    left: 1180px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
.v69_7 { /*imagen gestionar plato*/
  width: 50px;
  height: 50px;
  background: url("/static/images/v69_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 778px;
  left: 304px;
  overflow: hidden;
}
.v67_3 { /*letras superadmin*/
    width: 65px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 180px;
    left: 1250px;
    font-family: SF Pro Display;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.v67_4 {
  width: 45px;
  height: 45px;
  background: url("/static/images/v63_306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 780px;
  left: 1092px;
  overflow: hidden;
}
.v69_5 {
  width: 45px;
  height: 45px;
  background: url("/static/images/v63_307.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 780px;
  left: 568px;
  overflow: hidden;
}
.v69_6 {
  width: 45px;
  height: 45px;
  background: url("/static/images/v58_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 780px;
  left: 830px;
  overflow: hidden;
}
