<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=SF+Pro+Display&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/Dashboard.css') }}" type="text/css">
        <link href="http://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bowlby+One+SC" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard Noodles Company</title>
    </head>
    <body>
        <div class="v137_237">
            <div class="v137_238">
                <div class="v137_239"></div>
                <div class="v137_240"></div>
                <div class="v137_241"></div>
                <div class="v137_242"></div>
                <div class="v137_243"></div>
                <div class="v137_244"></div>
                <div class="v137_245"></div>
                <div class="v137_246"></div>
                <div class="v137_247"></div>
                <div class="v137_248"></div>
                <div class="v137_249"></div>
                <div class="v137_250"></div>
                <div class="v137_251"></div>
                <div class="v137_252"></div>
                <div class="v137_253"></div>
                <div class="v137_254"></div>
                <div class="v137_255"></div>
                <div class="v137_256"></div>
                <div class="v137_257"></div>
                <div class="v137_258"></div>
                <div class="v137_259"></div>
                <div class="v137_260"></div>
                <div class="v137_261"></div>
                <div class="v137_262"></div>
                <div class="v137_263"></div>
                <div class="v137_264"></div>
                <div class="v137_265"></div>
                <div class="v137_266"></div>
                <div class="v137_267"></div>
                <div class="v137_268"></div>
                <div class="v137_269"></div>
                <div class="v137_270"></div>
                <div class="v137_271"></div>
                <div class="v137_272"></div>
                <div class="v137_273"></div>
                <div class="v137_274"></div>
                <div class="v137_275"></div>
                <div class="v137_276"></div>
                <div class="v137_277"></div>
                <div class="v137_278"></div>
                <div class="v137_279"></div>
                <div class="v137_280"></div>
                <div class="v137_281"></div>
                <div class="v137_282"></div>
                <div class="v137_283"></div>
                <div class="v137_284"></div>
                <div class="v137_285"></div>
                <div class="v137_286"></div>
                <div class="v137_287"></div>
                <div class="v137_288"></div>
                <div class="v137_289"></div>
                <div class="v137_290"></div>
                <div class="v137_291"></div>
                <div class="v137_292"></div>
                <div class="v137_293"></div>
                <div class="v137_294"></div>
                <div class="v137_295"></div>
                <div class="v137_296"></div>
                <div class="v137_297"></div>
                <div class="v137_298"></div>
            </div><div class="v137_300"></div>
            <div class="v137_301"></div>
            <div class="v137_302"></div>
            <div class="v137_303"></div>
            <div class="v137_304"></div>
            <div class="v137_305"></div>
            <div class="v137_306"></div>
            <span class="v137_307">DASHBOARD</span>
            <span class="v137_319">ADMIN</span>
            <div class="v140_5"></div>
            <span class="v140_7">INGRESOS</span>
            <span class="v140_8">DASHBOARD</span>
            <div class="v140_10"></div>
            <div class="v140_11"></div>
            <span class="v140_12">PLATOS</span>
            <div class="v140_13"></div>
        </div>
    </body>
</html>