<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=SF+Pro+Display&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/Inicio_ini.css') }}" type="text/css">
        <link href="http://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bowlby+One+SC" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Noodles Company</title>
    </head>
    <body>

        <div class="v0_3">
            <div class="v15_39"></div>
            <div class="v4_17"></div>
            <div class="v13_20"></div>
            <div class="v13_23"></div>
            <div class="v13_30"></div>
            <div class="v13_31"></div>
            <div class="v13_27"></div>
            <div class="v13_35"></div>
            <div class="v13_21"></div>
            <div class="v13_19"></div>
            <a href="/perfil">
                <div class="v46_57"></div>
              </a>
            <a  href="/menuIni">
                <span class="v13_25">MENU</span>
              </a>
              <a  href="/promos">
                <span class="v13_26">PROMOS</span>
              </a>
            <span class="v15_34">INICIAR SESION</span>
            <div class="v13_29"></div>
            <a href="/lista">
                <div class="v95_7 "></div>
            </a>
            <a href="/carrito">
                <div class="v15_33"></div>
            </a>
            <div class="v15_36"></div>
            <span class="v39_2">Noodles Company</span>
            <span class="v40_3">Tradición oriental en tu paladar</span>
            <div class="v46_4"></div>
            <span class="v46_5">CONTACTO</span>
            <span class="v46_7">PQR</span>
            <span class="v46_6">POLITICA DE PRIVACIDAD</span>
        </div>
    </body>
</html>